<div class="app" *ngIf="isLoggedIn; else loginPage">
  <app-sidebar
    [activeScreen]="activeScreen"
    [activeFilter]="activeFilter"
    [currentUser]="currentUser"
  
    (screenChange)="onScreenChange($event)"
    (filterChange)="onFilterChange($event)"
    (logout)="onLogout()"
  ></app-sidebar>
  <div class="main">
    <app-topbar
      (screenChange)="onScreenChange($event)"
      [activeScreen]="activeScreen"
      (searchChange)="onSearchChange($event)"
    ></app-topbar>
    <div class="content">
      <app-dashboard *ngIf="activeScreen === 'dashboard'" [currentUserLocation]="currentUser.location" (screenChange)="onScreenChange($event)"></app-dashboard>
      <app-reports *ngIf="activeScreen === 'reports'" [externalFilter]="activeFilter" [currentUserLocation]="currentUser.location" [searchTerm]="searchTerm" (screenChange)="onScreenChange($event)" (filterChange)="onFilterChange($event)"></app-reports>
      <app-runner *ngIf="activeScreen === 'runner'"></app-runner>
      <app-schedule *ngIf="activeScreen === 'schedule'" [searchTerm]="searchTerm" [currentUserLocation]="currentUser.location"></app-schedule>
      <app-user-management *ngIf="activeScreen === 'user-management'"></app-user-management>
      <app-settings *ngIf="activeScreen === 'settings'"></app-settings>
    </div>
  </div>
</div>
<ng-template #loginPage>
  <app-login (login)="onLogin($event)"></app-login>
</ng-template>
